<div>
  <header>
    <mat-toolbar color="primary">
      <div class="header-content">
        <h1>{{title}}</h1>
      </div>
    </mat-toolbar>
  </header>
  <div class="container">
    <div class="products-content">
      <app-products></app-products>
    </div>
    <div class="transactions-content">
      <app-transactions></app-transactions>
    </div>
    <div class="orderchart-content">
      <app-orderchart></app-orderchart>
    </div>
  </div>
  <footer>
    <div style="text-align:center;padding: 20px;">
      <h4>
        Demo Project
      </h4>
    </div>
  </footer>
</div>

